<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "scoreboard" %>
    <title>Scoreboard</title>
</head>
<body>
    
    <div class="mt-5 container">
        <div class="pt-5 justify-content-center row">
            <div class="col-lg-3 m-3 col-8">
                <select class="form-select">
                    <option value="-1">All categories</option>
                    <%Challenge.select("category").distinct.each do |c|%>
                        <option value="<%=c.category%>"><%=c.category%></option>
                    <%end%>
                </select>
            </div>
            <div class="col-lg-3 m-3 col-8">
                <button class="btn btn-warning w-100" onclick="order_by_category()">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="filter"
                     class="svg-inline--fa fa-filter fa-w-16 fa-fw " role="img" style="height:24px;" xmlns="http://www.w3.org/2000/svg" 
                     viewBox="0 0 512 512"><path fill="currentColor" d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 
                     40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 
                     320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"></path></svg>
                     Filter
                </button>
            </div>
        </div>
    </div>
    <div class="m-5 py-5">
        <div class="container">
            <div class="justify-content-center">
                <table class="table table-dark  table-hover table-bordered border-white">
                    <thead>
                        <tr>
                          <th class="text-center px-0" scope="col">Place</th>
                          <th class="text-center" scope="col">Score</th>
                          <th class="text-center" scope="col">User</th>
                        </tr>
                    </thead>
                    <tbody class="scoreboard_table">
                        <% @ranking.each_with_index do |user,pos| %>
                            <tr>
                                <td class='text-center'><%= pos+1 %></td>
                                    <td class='text-center'><%= user.tot_score %></td>
                                    <td class='text-center'><a href="/users/<%=user.user_id%>">
                                    <%= "#{User.find(user.user_id).full_name}" %></a>
                                </tr>
                        <% end %>
                    </tbody>
                </table>
                

            </div>
        </div>

    </div>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" %>

    
    <script>
        window.addEventListener('load', (event) => {
            centra_nav();
        });
        window.addEventListener('resize', (event) => {
            centra_nav();
        });
        function centra_nav(){
            $('.navbar-brand').css('margin-right', ($('#btn_form').outerWidth() - $('.navbar-brand').outerWidth()).toString()+'px') ;
        }
    </script>
</body>
</html>