<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Flagify</title>
    <%= stylesheet_link_tag "home","Contact-Details" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light py-2 pb-0 bg-dark"> 
            <a class="navbar-brand me-0" href="/" style="color: white; padding-left: 4px;"><%= image_tag "logo.png",:style=>"height: 45px"%></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarContent,#btn_form" style="margin-right: 5%;">
                    <span class="navbar-toggler-icon" style="filter: invert();"></span>
                </button>
            <div class="collapse navbar-collapse justify-content-center" id="NavbarContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation">
                        <a href="/" class="nav-link fw-bold text-white"><svg name="ic" xmlns="http://www.w3.org/2000/svg"width="26" height="26" fill="white" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                            </svg> 
                            <span class="elem">Home</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/scoreboard" class="nav-link fw-bold text-white">
                            <!--<img name="ic" src="templates/challenges/podium.png" width="26" height="26" style="filter: invert();">-->
                            <%= image_tag "podium.png", size: "26x26",name: "ic", style:"filter: invert();" %> 
                            <span class="elem">Scoreboard</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/challenges" class="nav-link fw-bold text-white"><!--svg name="ic" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="26" fill="white" class="bi bi-flag" viewBox="0 0 16 16">
                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" /> 
                                </svg--> 
                                <!--<img name="ic" src="templates/homepage/icon-flag.png" width="32" height="32">-->
                                <%= image_tag "icon-flag.png", size: "32x32",name: "ic" %>
                                <span class="elem">Challenges</span>
                        </a>
                    </li>
                </ul>
            </div>
   
                <div class="d-lg-flex collapse" id="btn_form">
                     <a href="/login" id="button_profile" class=" btn btn-prime btn-sm rounded-pill" style="margin-right: 7px;">
                        Login</a>
                    <a href="/signup" class="btn btn-prime btn-sm rounded-pill" style="margin-right: 6px;" aria-labelledby="logout-popup"><title id="logout-popup">Logout</title>
                        Signup</a> 
                </div>
        </nav>
    </div>
    <main role="main" class="container">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="font-monospace fs-4 fw-bold edit mb-2">We are pleased to introduce to you&nbsp;</p>
                <h1 class="display-4 font-monospace fw-bold mb-4" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100" data-aos-once="false">Flagify</h1>
                <br>
                <p class="font-monospace fs-6">Flagify is a platform in which you can test your skills in solving cybersecurity challenges of several topics, <br>such as Web Security, Reverse Engineering, Cryptography, Binary Exploitation.&nbsp;</p>
                <br>
                <p class="font-monospace fs-5 format">Note that all the flags, unless otherwise specified, follow this regex -> flag{[a-zA-Z0-9_-]+}</p>
            </div>
        </div>
        <div class="container"> <!--position-relative"-->
            <div class="row mb-5">
                <div class="col-xl-9 col-xl-6 text-center mx-auto">
                    <p class="font-monospace fs-6">If you wish to join our team or if you just want to share with us your experience with Flagify</p>
                    <h2 class="font-monospace fs-2 fw-bold edit" style="color:aqua">Contact us</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-4">
                    <div class="d-flex flex-column justify-content-center align-items-start h-10">
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope">
                                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                                </svg>
                            </div>
                            <div class="px-2">
                                <h6 class="mb-0 fw-bold edit"  style="color:aqua">Email</h6>
                                <p class="mb-0">flagify@outlook.it</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pin-map-fill">
                                    <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"></path>
                                    <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"></path>
                                </svg></div>
                            <div class="px-2">
                                <br>
                                <h6 class="mb-0 fw-bold edit" style="color:aqua">Location</h6>
                                <p class="mb-0">Circonvallazione Tiburtina 4, 00185 Rome</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" action="" method="post">      <!--/send-email-->
                            <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Your email"></div>
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Subject"></div>
                            <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea></div>
                            <div><button class="btn btn-prime d-block w-100" type="submit">Send </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" %>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <%= javascript_pack_tag "bs-init" %>
    <!--<script src="templates/homepage/script.js"></!-->
    <script>
    window.addEventListener('load', (event) => {
        //getNameBtn();
        centra_nav();
    });
    window.addEventListener('resize', (event) => {
        centra_nav();
    });
    function centra_nav(){
        $('.navbar-brand').css('margin-right', ($('#btn_form').outerWidth() - $('.navbar-brand').outerWidth()).toString()+'px !important') ;

    }
    </script>
</body>

</html>
