<!DOCTYPE HTML>
<html>
    <head>
    <%= stylesheet_link_tag "create_chall" %>
    </head>
    <body>
        <div class="row">
            <div class="col-md-6 login-dark">
                <%= form_with(model: @challenge, class:"form",url: challenges_path,method: :post,:multipart => true) do |f|%>
                <div><%= f.text_field :nome,class: "form-control", placeholder: "Title" %></div>
                <div><%= f.text_field :category  ,class:"form-control", placeholder: "Category" %><br/></div>
                <div><%= f.text_area :testo  , placeholder: "Description",rows:"4",cols:"24" %><br/></div>
                <div><%= f.text_field :score ,class:"form-control", placeholder: "Score" %><br/></div>
                <div><%= f.text_field :hint ,class:"form-control", placeholder: "Hint" %><br/></div>
                <div><%= f.text_field :flag ,class:"form-control", placeholder: "Flag" %><br/></div>
                
                <!--<div class="field"><%= f.submit :submit,class:"form-control"%></div>-->
            </div>
            <div class="mt-5 col-md-5">
	            <!--<%= form_with url: '/upload', :multipart => true do |f1| %> -->
                <div class="form-group files">
                    <label>Upload Your File </label>
                    <%= f.file_field :upfile,class:"form-control",multiple:"" %>
                </div>
                <!--<%end%> -->
                <div class="mt-3 ms-5 col-4" ><%= f.submit :Submit,class:"ms-5 btn btn-primary form-control"%></div>
            </div>
            
            <%end%>      
        </div>

    </body>

</html>