<!DOCTYPE html>
<html lang="en">

<head>
   

    <!--Owl Carousel Plugin-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "challenges", "owl", "owl_theme" %>


    <title>Challenges</title>
</head>

<body style="background-color: rgb(33, 37, 41);">
    
    <main role="main" class="container" style="display: none;">
    <div class="div_nav">
        <div class="canvasContainer">
            <canvas id="c" class="contextCanvas"></canvas>
        </div>
        <% @categories.each do |category| %>
            <div class="text-center mt-5">
                <h1><%=category.category%></h1>
            </div>
            <div class="container mt-3">
                <div class="owl-carousel-<%=category.category%> owl-carousel owl-theme">
                    <% Challenge.where(:category => category.category).each do |challenge|%>

                        <div class="ms-2 me-2 p-4">
                            <a data-remote="true" data-method="get" href="<%="/challenges/#{challenge.id}"%>" style="color: black; text-decoration:none;">
                                <% if UserChallenge.where(:user_id =>current_user.id, :challenge_id => challenge.id).where.not(:flag_timestamp => nil).count == 1%>
                                    <div class="card" id="<%=challenge.id%>" solved="true" style="background: rgb(33, 210, 74);">
                                <%else%>
                                    <div class="card" id="<%=challenge.id%>" solved="false" >
                                <%end%>
                                    <div class="card-body">
                                        <h5 class="card-title"><%=challenge.nome%></h5>
                                        <p class="card-text">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trophy" class="svg-inline--fa fa-trophy fa-w-18 fa-fw " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path fill="currentColor" d="M552 64H448V24c0-13.3-10.7-24-24-24H152c-13.3 0-24 10.7-24 24v40H24C10.7 64 0 74.7 0 88v56c0 35.7 22.5 72.4 61.9 100.7 31.5 22.7 69.8 37.1 110 41.7C203.3 338.5 240 360 240 360v72h-48c-35.3 0-64 20.7-64 56v12c0 6.6 5.4 12 12 12h296c6.6 0 12-5.4 12-12v-12c0-35.3-28.7-56-64-56h-48v-72s36.7-21.5 68.1-73.6c40.3-4.6 78.6-19 110-41.7 39.3-28.3 61.9-65 61.9-100.7V88c0-13.3-10.7-24-24-24zM99.3 192.8C74.9 175.2 64 155.6 64 144v-16h64.2c1 32.6 5.8 61.2 12.8 86.2-15.1-5.2-29.2-12.4-41.7-21.4zM512 144c0 16.1-17.7 36.1-35.3 48.8-12.5 9-26.7 16.2-41.8 21.4 7-25 11.8-53.6 12.8-86.2H512v16z"></path>
                                            </svg><%=challenge.score%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <%end%>
                </div>
            </div>
        <%end%>
    </div>

    <div id='challenge-content'></div>
</main>
    
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" %>
    <!--<script src="templates/challenges/functions.js"></script>-->
   <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

    <%= javascript_pack_tag "owl.js" %>
    <%= javascript_pack_tag "sfondo.js" %>
    <script>
        

        window.addEventListener('load', (event) => {
            
            $('main').fadeIn(1500);

            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    autoplay: true,
                    autoplayhoverpause: true,
                    autotimeout: 250,
                    loop: true,
                    margin: 0,
                    responsiveClass: true,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: true
                        },
                        992: {
                            items: 2,
                            nav: false
                        },
                        1200: {
                            items: 3,
                            nav: true,
                            loop: true
                        }
                    }
                });
            });
        });      
    </script>
    
    
</body>

</html>






