<!DOCTYPE html>
<html lang="en">

<head>
   

    <!--Owl Carousel Plugin-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "challenges", "owl", "owl_theme" %>


    <title>Challenges</title>
</head>

<body style="background-color: rgb(33, 37, 41);">
    <main role="main" class="container" style="display: none;">
    <div class="div_nav">
        <div class="canvasContainer">
            <canvas id="c" class="contextCanvas"></canvas>
        </div>
        <% @categories.each do |category| %>
            <div class="text-center mt-5">
                <h1><%=category.category%></h1>
            </div>
            <div class="container mt-3">
                <div class="owl-carousel-<%=category.category%> owl-carousel owl-theme">
                    <%  Challenge.where(:category => category.category).each do |challenge|%>
                        <div class="ms-2 me-2 p-4">
                            <div class="card" onclick="show_modal(<%= challenge.id%>)" id="<%=challenge.id%>" solved="false">
                                <div class="card-body">
                                    <h5 class="card-title"><%=challenge.nome%></h5>
                                    <p class="card-text">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trophy" class="svg-inline--fa fa-trophy fa-w-18 fa-fw " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path fill="currentColor" d="M552 64H448V24c0-13.3-10.7-24-24-24H152c-13.3 0-24 10.7-24 24v40H24C10.7 64 0 74.7 0 88v56c0 35.7 22.5 72.4 61.9 100.7 31.5 22.7 69.8 37.1 110 41.7C203.3 338.5 240 360 240 360v72h-48c-35.3 0-64 20.7-64 56v12c0 6.6 5.4 12 12 12h296c6.6 0 12-5.4 12-12v-12c0-35.3-28.7-56-64-56h-48v-72s36.7-21.5 68.1-73.6c40.3-4.6 78.6-19 110-41.7 39.3-28.3 61.9-65 61.9-100.7V88c0-13.3-10.7-24-24-24zM99.3 192.8C74.9 175.2 64 155.6 64 144v-16h64.2c1 32.6 5.8 61.2 12.8 86.2-15.1-5.2-29.2-12.4-41.7-21.4zM512 144c0 16.1-17.7 36.1-35.3 48.8-12.5 9-26.7 16.2-41.8 21.4 7-25 11.8-53.6 12.8-86.2H512v16z"></path>
                                        </svg>100
                                    </p>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        <%end%>
    </div>

    <!-- owl-carousel inizio-fine-->

    <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="title" style="padding-right: 10px;">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="score-div">
                        <h5 class="text-left"> Score: <span id="score" class="badge bg-danger"></span></h5> 
                    </div>
                    <hr>
                    <p id="text" class="text-center"></p>
                    <hr>
                    <div class="hint-div">
                        <h5 class="text-left"> Hint</h5>
                            <button type="button" class="mt-3 btn btn-danger" id="hint_btn" onclick="show_modal_hint()"> <svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle"
                                class="svg-inline--fa fa-info-circle fa-w-16 fa-fw " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                                </path>
                            </svg> Hint <span class="text-black badge bg-warning">-50pt</span></button>
                    </div>

                    <hr>
                    <span class="form-group d-flex ps-2 pe-2">
                        <input class="form-control" id="flag_response" size="20" name="flag" placeholder="flag{...}"
                            autocomplete="off" />
                        <button class="btn btn-info" id="btn_flag" idd="">Send</button>
                    </span>
                    <div id="alert-success" role="alert" class="fade mt-3 w-100 alert alert-success show"
                        style="display: none;"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16 fa-fw " role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                            </path>
                        </svg> You solved the challenge</div>
                    <div id="alert-already-success" role="alert" class="fade mt-3 w-100 alert alert-success show"
                        style="display: none;"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16 fa-fw " role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                            </path>
                        </svg> You ve already solved the challenge</div>
                    <div id="alert-danger" role="alert" class="fade mt-3 w-100 alert alert-danger show"
                        style="display: none;"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="exclamation-triangle"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18 fa-fw " role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
                            </path>
                        </svg> Wrong flag</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalHint" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title hint-title" id="title" style="padding-right: 10px;">Unlock Hint</h5>
                    <span id="score" class="badge bg-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="p-3 hint-body">Do you really want to unlock the hint?</div>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"><svg aria-hidden="true"
                            focusable="false" data-prefix="fas" data-icon="times"
                            class="svg-inline--fa fa-times fa-w-11 fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 352 512">
                            <path fill="currentColor"
                                d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                            </path>
                        </svg> Close</button>
                        <button type="button" class="btn btn-success btn-success-hint" onclick="confirmHint()"><svg aria-hidden="true"
                            focusable="false" data-prefix="fas" data-icon="check"
                            class="svg-inline--fa fa-check fa-w-16 fa-fw " role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                            </path>
                        </svg> Confirm</button></div>
            </div>
        </div>
    </div>
</main>
    
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" %>
    <!--<script src="templates/challenges/functions.js"></script>-->
   <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

    <%= javascript_pack_tag "owl.js" %>
    <%= javascript_pack_tag "sfondo.js" %>
    <script>
        window.addEventListener('load', (event) => {

        
        $('main').fadeIn(1500);
        //show_all_cards();
        //show_done_challenge();

        

        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                autoplay: true,
                autoplayhoverpause: true,
                autotimeout: 250,
                loop: true,
                margin: 0,
                responsiveClass: true,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    992: {
                        items: 2,
                        nav: false
                    },
                    1200: {
                        items: 3,
                        nav: true,
                        loop: true
                    }
                }
            });
        });
        document.getElementById("btn_flag").addEventListener('click', function (e) {
             e.preventDefault();
             check_flag($(this).attr("idd"));
         })
         centra_nav();
        });      
    </script>
    
    
</body>

</html>






