<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag "profile" %>
    <title>Profilo</title>
</head>

<body>
    
        <div class=" container mt-5 py-5 info_profilo" style="width: 100%;">
            <div class="row">
                <div class="justify-content-center col mt-3">
                    <title style="display: block;font-size: xx-large;">Info profilo</title>
                    <table class="table user-info table-dark table-striped table-bordered border-white">
                        <tbody class="scoreboard_table"></tbody>
                        <tr><td>Username</td><td><%= current_user.full_name %></td></li>
                        <tr><td>Email</td><td><%= current_user.email %></td></li>
                        <tr><td>Challenge points</td><td><%= @score %></td></li>
                        <tr><td>Hint used</td><td><%= @n_hint_used %></td></li>
                        <tr><td>Total score</td><td><%= @score - 50*@n_hint_used %></td></li>
                        <tr><td>Solved challenges</td><td><%= @n_challenge_done %></td></li>
                    </table>
                </div>
                <div class="col text-center" style="margin: auto;">
                        <% if !current_user.avatar_url%> <div><img src="https://www.sony.it/presscentre/assets/resized/2021/05/contact-dummy_landscape_964x656.jpg"  class="rounded  figure-img" width="150" height="150" alt="your photo"></div>
                        <% else%><div> <img src="<%=current_user.avatar_url %>" class="rounded  figure-img" width="150" height="150" alt="your photo"></div>
                        <% end %>
                    <figcaption class="text-center">  
                        <div><strong ><h5> Role: <%= current_user.role%></h5></strong></div>
                        <% if current_user.role=="player" || current_user.role==nil %>
                        <a href=<%= new_challenge_url %>><button  style="border-radius: 30px;background: lightpink;">Become a creator</button></a>
                        <% elsif current_user.role=="creator" %>
                        <a href=<%= new_challenge_url %>><button  style="border-radius: 30px;background: lightpink;">Become a player</button></a>
                        <% end %>
                    </figcaption>
                </div>
            </div>
        </div>
        <div class="m-5">
            <div class="container">
                <div class="justify-content-center">
                    <title style="display: block;font-size: xx-large;">Challenge completate</title>
                    <table class="table table_challenge_flag table-dark table-striped table-bordered border-white">
                        <thead>
                            <tr>
                              <th class="text-center px-0" scope="col">Timestamp</th>
                              <th class="text-center" scope="col">Challenges</th>
                              <th class="text-center" scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody class="scoreboard_table">
                        <% @done_challenges.each do |t|%>
                        <% k = Challenge.find(t.challenge_id)%>
                            <tr>
                                <th class="text-center px-0" scope="col"><%= t.flag_timestamp%></th>
                                <th class="text-center" scope="col"><%= k.nome%></th>
                                <th class="text-center" scope="col"><%= k.score%></th>
                            </tr>
                        <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-5 py-5">
            <div class="container">
                <div class="justify-content-center">
                    <title style="display: block;font-size: xx-large;">Hint richiesti</title>
                    <table class="table table_challenge_hint table-dark table-striped table-bordered border-white">
                        <thead>
                            <tr>
                              <th class="text-center px-0" scope="col">Timestamp</th>
                              <th class="text-center" scope="col">Challenges</th>
                              <th class="text-center" scope="col">Points lost</th>
                            </tr>
                        </thead>
                        <tbody class="scoreboard_table">
                            <% @hint_challenges.each do |t|%>
                            <% k = Challenge.find(t.challenge_id)%>
                                <tr>
                                    <th class="text-center px-0" scope="col"><%= t.flag_timestamp%></th>
                                    <th class="text-center" scope="col"><%= k.nome%></th>
                                    <th class="text-center" scope="col"><%= k.score%></th>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <% if current_user.role == "creator" || current_user.role == "admin"%>
            <div class="m-5 py-5">
                <div class="container">
                    <div class="justify-content-center">
                        <% if current_user.role == "creator"%>
                            <title style="display: block;font-size: xx-large;">Your Challenges</title>
                        <% elsif current_user.role == "admin"%>
                            <title style="display: block;font-size: xx-large;">Official Challenges</title>
                        <% end%>

                        <table class="table table_challenge_hint table-dark table-striped table-bordered border-white">
                            <thead>
                                <tr>
                                    <th class="text-center px-0" scope="col">Challenges </th>
                                    <th class="text-center px-0" scope="col" style="width: 150px;">
                                        <a href=<%= new_challenge_url %> style="color: white;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="scoreboard_table">
                                <% current_user.challenges.each do |c|%>
                                    <tr>
                                        <th scope="col" class="text-left px-4"><%=c.nome%>   <i style="color: lightgray; font-size: large;"><%=c.testo.truncate(50, separator: ' ')%></i></th>
                                        <th scope="col" class="text-center px-0" style="display: flex;">
                                            <div style="margin: auto;">
                                                <%= link_to edit_challenge_path(c),class: "btn btn-light" do %> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                    </svg>                                               
                                                <% end %>
                                            </div>
                                            <div style="margin: auto;" class="btn btn-light">
                                                <a data-method="get"  data-confirm="Are you sure?" style="color:black;" href = "/challenges/<%=c.id%>/delete">                                                
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                    </svg>
                                               </a>
                                            </div>                     
                                        </th>
                                    </tr>
                                <%end%>
                            </tbody>
                            <tbody class="scoreboard_table"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        <%end%>
        
</body>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" %>

</html>